# =========================
# Dependencies
# =========================
node_modules/
.pnp
.pnp.js

# =========================
# Next.js Build Output
# =========================
.next/
out/
build/
dist/

# =========================
# Environment Variables
# =========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================
# Misc
# =========================
.DS_Store
*.pem
Thumbs.db

# =========================
# Debug Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# =========================
# TypeScript
# =========================
*.tsbuildinfo
next-env.d.ts

# =========================
# Testing
# =========================
coverage/
.nyc_output/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =========================
# OS
# =========================
Desktop.ini
$RECYCLE.BIN/
